<div class="nav">
    <div class="sticky">
        <div class="nav-left">
            <div class="amazon hover">
                
                <a href="#"><img src="amazoni1.png" alt="amazon.in"></a>
                <div class="in">.in</div>
            </div>
            <div class="address hover">
                <div class="small">Hello</div>
                <div class="add">
                    <i class="ri-map-pin-fill"></i>
                    <b>Select your address</b>
                </div>
            </div>
        </div>

        <div class="nav-search">
            
            <input type="search" name="search" id="search" placeholder=" Search here">
            <label for="search" class="sicon">
                <i class="ri-search-line"></i>
            </label>
        </div>
        <div class="nav-right">
            
            <div class="sign hover">
                <div class="small" routerLink="/auth/signin">
                    <div class="hello">Hello, </div>
                    <div class="signin">{{user}}</div>
                    <i class="fa-solid fa-angle-right arrow"></i>
                    <i class="fa-regular fa-user user"></i>
                </div>
                <div class="add">
                    <b>Account & Lists</b>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
            <div class="return  hover">
                <div class="small">Returns</div>
                <div class="add">
                    <b>& Orders</b>
                </div>
            </div>
            <div class="card hover">
                <span class="material-symbols-rounded">
                    shopping_cart
                </span>
                <p class="cardCount">0</p>
                <div class="add cardName">
                    <b>Card</b>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky_fixed"></div>
    <div class="sticky_fixed1"></div>

    <div class="nav-main">
        <div class="nav-main-menu">
           
            <div class="shopCate">
                <div class="small">Shop By</div>
                <div class="add">
                    <a href="#">Category</a>
                </div>
            </div>
            <div class="xshop">
                <a href="#">Amazon miniTV</a>
                <a href="#">Sell</a>
                <a href="#">Best Sellers</a>
                <a href="#">Today's Deals</a>
                <a href="#">Mobiles</a>
                <a href="#">New Releases</a>
                <a href="#">Customer Service</a>
                <a href="#">Prime</a>
                <a href="#">Electronics</a> 
                <a href="# ">Gift Ideas</a>
                <a href="#">Home & Kitchen</a>
                <a href="#">Amazon Pay</a>
                <a href="#">Amazon Pay</a>
                <a href="#">Amazon Pay</a>              
            </div>
        </div>
       
    </div>
</div>
<!-- <div style="display: flex; justify-content: center; align-items: center;"> -->
    <app-home></app-home>
<!-- </div> -->

<router-outlet></router-outlet>
