
<header class="header">
    <div class="headerLeft">
        <div class="logoContainer" routerLink="/home">
            <img src="assets/img/meesho.png" />
        </div>

        <!--seach box-->
        <div class="searchInputContainer">
            <div class="searchIcon">
                <img src="assets/img/search.png" />
            </div>
            <form action="" id="inputForm">
                <input 
                    type="text" 
                    placeholder="Try Saree, Kurti or Search by Product Code" 
                    class="inputSearch"
                    (input)="onSearch($event)" 
                />

            </form>
            <div class="inputCloseSearch">
                <i class="fa-solid fa-xmark" id="closeSearch"></i>
            </div>

            <div class="searchRecentModal">                
                <div class="listofRecent" *ngFor="let pbk of productByKeyword">
                    <h3>{{pbk.productName}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="headerRight">
       

        <div class="becomeSupplierContainer">
            <p>Become a Supplier</p>
        </div>

        <div class="profileAndCart">
            <div class="profileContainer">
                <div class="profileIcon">
                    <img src="assets/img/user.png" />
                </div>
                <p>Profile</p>
            </div>

            <div class="CartContainer">
                <div class="CartIcon">
                    <img src="assets/img/cart.png" />
                </div>
                <p>Cart</p>
            </div>
        </div>
    </div>
</header>

<!--navigation-->
<nav>
    <ul>
      <li *ngFor="let c of mainCategory"
          (mouseenter)="loadSubCategory(c.categoryID)"
          (mouseleave)="hideSubCategory(c.categoryID)">
        {{ c.categoryName }}
        <div class="subMenu" *ngIf="subCategory[c.categoryID] && isSubCategoryVisible[c.categoryID]">
          <div class="submenuList" *ngFor="let subcat of subCategory[c.categoryID]">
            <!-- Use routerLink to navigate to the respective subcategory page -->
            <a [routerLink]="['/subcategory', subcat.categoryID]">{{ subcat.categoryName }}</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>


<router-outlet></router-outlet>
