<header class="header">
  <div class="headerLeft">
    <div class="logoContainer" routerLink="/home">
      <img src="assets/Shopimg/wit.png" />
    </div>

    <!-- Search box -->
    <div class="searchInputContainer">
      <div class="searchIcon">
        <img src="assets/img/search.png" />
      </div>
      <form id="inputForm">
        <input
          type="text"
          placeholder="Search here..."
          class="inputSearch"
          (input)="onSearch($event)"
          aria-label="Search"
        />
      </form>
      <div class="inputCloseSearch" (click)="clearSearch()">
        <i class="fa-solid fa-xmark" id="closeSearch" aria-label="Close Search"></i>
      </div>

      <div class="searchRecentModal" *ngIf="productByKeyword.length > 0">
        <div class="listofRecent" *ngFor="let pbk of productByKeyword">
          <h3 routerLink="/product/{{ pbk.productId }}">
            {{ pbk.productName }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="headerRight">
    <div class="becomeSupplierContainer">
      <p>Become a Supplier</p>
    </div>

    <div class="profileAndCart">
      <div class="downloadContainer">
        <div class="mobileIcon top">
          <img src="assets/img/user.png" />
        </div>
        <p>{{ isLoggedIn ? userName : 'Profile' }}</p>
    
        <div class="downloadHoverBtnContainer">
          <p *ngIf="isLoggedIn">{{userName}}</p>
          <p *ngIf="!isLoggedIn" style="font-size: 13px;">To access your account</p>
                        
          <a *ngIf="!isLoggedIn" routerLink="/auth/signin">
            <button class="downloadBtn">Sign In</button>
          </a>
          <a *ngIf="isLoggedIn" (click)="signOut()">
            <button class="downloadBtn">Sign Out</button>
          </a>
          <hr>
          <a routerLink="/order-history">
            <button class="downloadBtn">My Order</button>
          </a>
        </div>
      </div>
    </div>

    <div class="CartContainer" (click)="onAddToCart()" style="cursor: pointer;">
      <div class="CartIcon top">
        <img src="assets/img/cart.png" />
        <div *ngIf="cartQuantity > 0" class="cart-quantity">{{ cartQuantity }}</div>
      </div>
    </div>    
  </div>
</header>

<!-- Navigation -->
<nav>
  <ul>
    <li
      *ngFor="let c of mainCategory"
      (mouseenter)="loadSubCategory(c.categoryID)"
      (mouseleave)="hideSubCategory(c.categoryID)"
    >
      {{ c.categoryName }}
      <div
        class="subMenu"
        *ngIf="subCategory[c.categoryID] && isSubCategoryVisible[c.categoryID]"
      >
        <div
          class="submenuList"
          *ngFor="let subcat of subCategory[c.categoryID]"
        >
          <!-- Use routerLink to navigate to the respective subcategory page -->
          <a [routerLink]="['/subcategory', subcat.categoryID]">{{ subcat.categoryName }}</a>
        </div>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
