<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow">
        <div class="container-fluid">
            <a class="navbar-brand mr-5" href="/"><img src="assets/logo.png" width="110" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                id="btnToggler" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="divNavMenus">
                <ul class="navbar-nav ml-auto" (click)="collapse()">
                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="dashboard"><i class="fa fa-home"
                                aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="team"><i class="fas fa-user-tie"
                                aria-hidden="true"></i> Team Details</a>
                    </li>
                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="directs"><i class="fas fa-user-tie"
                                aria-hidden="true"></i> Directs Income</a>
                    </li>
                    

                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="level-dividend"><i class="fas fa-level-up-alt"
                                aria-hidden="true"></i> Level Income</a>
                    </li>
                    
                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="boardIncome"><i class="fa fa-sheqel" aria-hidden="true"></i> Booster Income</a>
                    </li>

                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="boardCount"><i class="fa fa-sheqel" aria-hidden="true"></i> Booster Count</a>
                    </li> -->

                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="dividend-income"><i class="fas fa-wallet"
                                aria-hidden="true"></i>Dividend Income</a>
                    </li> -->
                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="royalty"><i class="fa fa-money"
                                aria-hidden="true"></i> Royalty Income</a>

                    </li>
                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="salary-income"><i class="fa fa-dollar"
                                aria-hidden="true"></i> Salary Income</a>
                    </li> -->
                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="dailyeor"><i class="fa fa-crosshairs"
                                aria-hidden="true"></i>ROI</a>
                    </li> -->

                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="token/buy"><i class="fas fa-exchange-alt"
                                aria-hidden="true"></i> Booster Topup</a>
                    </li> -->

                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="withdraw-mta"><i class="fas fa-exchange-alt"
                                aria-hidden="true"></i> Withdraw Booster</a>
                    </li> -->

                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="withdraw-dividend"><i class="fa fa-usd"
                                aria-hidden="true"></i> Withdraw</a>
                    </li>
                    <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="deposit"><i class="fa fa-bar-chart"
                                aria-hidden="true"></i> Deposit History</a>
                    </li>
                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="games"><i class="fa fa-gamepad" aria-hidden="true"></i>Games</a>
                    </li> -->
                    <!-- <li class="nav-item nav-menu p-1">
                        <a class="nav-link text-dark m-1" routerLink="transactions"><i class="fas fa-sync"></i> Transactions</a>
                    </li> -->
                    <li class="mr-5">
                    </li>
                    <li class="nav-item">
                        <button mat-raised-button color="warn" class="mt-2" (click)=logout()> <i class="fa fa-power-off"
                                aria-hidden="true"></i> Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   


<main role="main" class="pb-3 mt-4">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>


<footer class=" footer text-white">
    <div class="container">
        &copy; 2024 - {{appName}}
    </div>
</footer>