.forgot-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;
}

.forgot-password-container h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.forgot-password-container form {
  margin-top: 20px;
}

.forgot-password-container input[type="email"],
.forgot-password-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease;
}

.forgot-password-container input[type="email"]:focus,
.forgot-password-container input[type="password"]:focus {
  border-color: #007bff;
}

.forgot-password-container button {
  width: 100%;
  padding: 12px;
  background-color: var(--hoverTextColor); /* Use the custom button color */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-container button:hover {
  background-color: #007bff ; /* Button hover color */
}

.forgot-password-container .back-link {
  text-align: center;
  margin-top: 15px;
}

.forgot-password-container .back-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password-container .back-link a:hover {
  color: #0056b3;
}
.forgot-password-container {
  max-width: 400px;
  margin: auto;
  margin: 1rem auto; /* 1rem margin for top and bottom, auto for centering horizontally */
  padding: 1rem 20px; /* 1rem padding for top and bottom, 20px for left and right */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
