<div *ngIf="!isCartEmpty;" class="container">
  <div class="payment_details">
    <h1>Payment Information</h1>
    <div class="details_card">
      <div class="name_address">
        <div class="first_lastName">
          <input type="text" [(ngModel)]="newAddress.name" placeholder="Name" required />
          <input type="text" [(ngModel)]="newAddress.phone" placeholder="Phone Number" required />
        </div>

        <div class="address">
          <input type="text" [(ngModel)]="newAddress.address1" placeholder="Address" required />
          <input type="number" [(ngModel)]="newAddress.postalCode" placeholder="Postal Code" required />
          <input type="text" [(ngModel)]="newAddress.cityName" placeholder="City" required />
        </div>

        <div class="address_type">
          <select class="slct" [(ngModel)]="newAddress.countryId" (change)="onCountryChange(newAddress.countryId)" required>
            <option value="" disabled>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.id">
              {{ country.name }}
            </option>
          </select>
          
          <select *ngIf="states.length > 0" class="slct" [(ngModel)]="newAddress.stateId" required>
            <option value="" disabled>Select State</option>
            <option *ngFor="let state of states" [value]="state.id">
              {{ state.name }}
            </option>
          </select>
        </div>

        <div class="address_type_select">
          <label for="addressType">Address Type</label>
          <select class="slct" [(ngModel)]="newAddress.addressType" required>
            <option value="" disabled>Select Address Type</option>
            <option value="1">Home</option>
            <option value="2">Office</option>
            <option value="3">Other</option>
          </select>
        </div>
      </div>

      <div class="address-actions">
        <button class="edit1" *ngIf="!isEditMode" (click)="createAddress()">
          Add Address
        </button>
        <button class="edit" *ngIf="isEditMode" (click)="updateAddress()">
          Update Address
        </button>
      </div>

      <br />
      <hr />
      <br>
      <h1>Shipping Details</h1>
      <div *ngIf="addresses.length > 0" class="address_cards">
        <div *ngFor="let address of addresses" class="address-card" [class.selected]="selectedAddress === address">
          <div class="address-details">
            <input class="margin1" type="radio" name="address" [checked]="selectedAddress === address" (change)="selectAddress(address.addressId)">
            <h5 class="addr">Saved Addresses</h5>
            <p class="addr">Name: {{ address.fullName }}</p>
            <p class="addr">Address: {{ address.addressType }}, {{ address.address1 }}, {{ address.cityName }}, {{ address.postalCode }}</p>
            <p class="addr">Phone No.: {{ address.phone }}</p>
          </div>

          <div class="card-actions">
            <button class="edit" (click)="editAddress(address)">Edit</button>
            <button class="delete" (click)="deleteAddress(address.addressId)">
              Delete
            </button>
            <button class="select" name="address" (change)="selectAddress(address.addressId)" *ngIf="selectedAddress !== address">
              Select
            </button>
          </div>
        </div>
      </div>

      <div class="proced_payment">
        <button class="proceed-payment" (click)="checkout()" [disabled]="!isAddressSelected">
          Proceed to Payment
        </button>
      </div>
    </div>
  </div>

  <div class="order_summary">
    <div class="summary_card">
      <h1>Order Summary</h1>
      <div class="cart_totals">
        <div class="sumrytotal">
          <p>Items:</p>
          <p>{{ totalQuantity }}</p>
        </div>
        <div class="sumrytotal">
          <p>Total:</p>
          <p>Rs. {{ totalCartPrice | number: '1.2-2' }}</p>
        </div>
        <div class="sumrytotal">
          <p>Discount:</p>
          <p>Rs. {{ (totalCartPrice - totalDiscountPrice) | number: '1.2-2' }}</p>
        </div>
        <br>
        <hr>
        <div class="sumrytotal">
          <p>Order Total:</p>
          <p>Rs. {{ totalDiscountPrice | number: '1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
