
.main {
    width: 100%;
    background-color: rgba(179, 177, 177, 0.203);
}

.main .main-imgs {
    width: 100%;
    height: 15vw;
    position: relative;
}

.main .main-img::-webkit-scrollbar {
    display: none;
}

.main .main-imgs .main-img {
    display: flex;
    overflow: hidden;
}

.blur_img {
    width: 100%;
    height: 400px;
    background-color: rgb(239, 239, 239);
    position: absolute;
    top: 21vw;
    z-index: -1;
    overflow: hidden;
    box-shadow: 0px -20px 20px 20px rgb(239, 239, 239);
}

.main .main-img a img {
    max-width: 1500px;
    z-index: -2;
    position: relative;
}

.main .main-img a {
    transition: margin-left 15s ease-in 0s;
    transition: 15s ease-in 0s;
}

#slideButton {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    color: black;
    /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.594); */
    height: 8vw;
    width: 3vw;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4.5vw;
    font-size: 1.75rem;
    padding: 5px;
}

#slideButton:hover {
    background-color: rgba(255, 255, 255, 0.808);
}

#slideButton:active {
    background-color: #ffffff50;
}

.left_img_button {
    left: 10px;
}

.right_img_button {
    right: 10px;
}

#slideButton-s, #slideButton-b , #slideButton-l {
    cursor: pointer;
    position: sticky;
    background-color:transparent;
    color: black;
    /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.594); */
    height: 5vw;
    width: 3vw;
    height: 2rem;
    width: 1rem;
    border-radius: 3px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    /* bottom: 2rem; */
    font-size: 1.75rem;
    padding: 10px;
}
#slideButton-b, #slideButton-l{
    top: 90px;
}

@media (max-width: 1500px) {
    .main .main-img a img {
        width: 100vw;
    }
}

@media (min-width: 1501px) {

    .main #slideButton{
        top: 60px;
        height: 105px;
        width: 61px;
        margin-top: 22px;
    }

    .main .main-imgs {
        height: 226px;
    }

    .main .blur_img {
        top: 280px;
        box-shadow: 0px -10px 30px 20px rgb(239, 239, 239);

    }
}

@media (max-width: 1501px) {
    #slideButton i{
        /* font-size: 15px; */
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .main .blur_img {
        top: 21vw;
        box-shadow: 0px -10px 20px 15px rgb(239, 239, 239);
    }

    #slideButton i, #slideButton-s i, #slideButton-b i{
        /* font-size: 15px; */
        font-size: .95rem;
    }
    #slideButton-s, #slideButton-b{
        padding: 2px 8px;
    }

}

@media (max-width: 425px) {
    .main .blur_img {
        top: 26vw;
        box-shadow: 0px -10px 20px 15px rgb(239, 239, 239);
    }

    #slideButton i, #slideButton-s i, #slideButton-b i{
        font-size: .75rem;
    }
    #slideButton-s, #slideButton-b{
        padding: 1px 7px;
    }
}

.boxs {
    max-width: 1484px;
    height: 100%;
    padding: .5rem;
    z-index: 5;
}

.box1 {
    height: 880px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box11 {
    height: 440px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxs .box {
    flex-grow: 1;
    flex-basis: 20%;
    width: 20%;
    overflow: hidden;
    min-width: 280px;
    height: 420px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin: 10px;
    color: black;
}

.box a {
    text-decoration: none;
    font-size: .85em;
    color: black;
}

.box a div {
    width: 90%;
}

.box h2 {
    font-size: 21px;
    line-height: 1em;
    margin: 0 0 10px 0;
}

.box a.seeOffer {
    color: #007185;
    position: absolute;
    top: 390px;
}

.box > div {
    padding: 5px 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.boxIn2 a div:first-child {
    display: flex;
    flex-direction: column;
}

.boxIn2 a div {
    width: 100%;
}

.boxIn2 a div img {
    width: 115px;
    align-self: center;
    margin: 5px;
}

.boxIn2 a div span:last-child {
    position: relative;
    bottom: 8px;
}

.boxIn2 .view {
    opacity: .6;
    margin-bottom: 20px;
}

.boxIn4 a div:last-child {
    margin-top: -10px;
    margin-left: 5px;
    width: 92%;
    display: block;
}

.boxIn4 > div > div {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.boxIn4 > div > div > div {
    height: 100%;
    width: 100%;
    padding: 2px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.boxIn4 > div > div > div > div {
    width: 100%;
}

.boxIn4 a div img {
    margin: 10px;
    width: 100%;
    max-width: 200px;
}

.boxIn4 a div {
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
}

.boxIn1 a div {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.boxIn1 a div img {
    margin-top: 5px;
    width: 95%;
    height: 300px;
    max-width: 350px;
}

.boxs .boxButton {
    background-color: transparent;
}

.boxButton div {
    padding: 0;
    margin: 0;
}

.boxButton > div > div:first-child {
    background-color: white;
    padding: 20px 30px;
}

.boxButton div button {
    height: 30px;
    width: 100%;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.boxButton div div a div {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.boxButton div div a div img {
    height: 100%;
}

.hr_color {
    opacity: 0;
}

.box2 {
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 10px 10px;
}

.box2 > div > div:first-child {
    height: 40px;
    padding: 20px 20px 0px 10px;
}

@media (max-width: 768px) {
    .box2 > div > div:first-child {
        height: 50px;
        padding: 10px 20px 10px 10px;
    }

    .box2 > div > div:first-child h2 {
        font-size: 1.3rem;
        line-height: -10px;
        line-height-step: 10px;
    }
}

@media (max-width: 425px) {
    .box2 > div > div:first-child {
        height: 50px;
        padding: 10px 20px 10px 10px;
    }

    .box2 > div > div:first-child h2 {
        font-size: 1.2rem;
        line-height: -10px;
        line-height-step: 10px;
    }
}

.box2 h2 {
    font-size: 21px;
    display: inline;
    line-height: 1em;
    margin: 0;
}

.box2 div span {
    padding-left: 20px;
    color: #007185;
}

.blockbuster_deals {
    height: 360px;
}

.blockbuster_deals > div > div:last-child {
    width: 100%;
    display: flex;
    height: 290px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.blockbuster_deals > div > div:last-child::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 10px;
    border-radius: 50px;
}

.blockbuster_deals > div > div:last-child::-webkit-scrollbar-button {
    display: none;
}

.blockbuster_deals > div > div:last-child::-webkit-scrollbar-thumb {
    background-color: rgb(183, 183, 183);
    border-radius: 50px;
}

.blockbuster_deals a img {
    height: 200px;
    width: 200px;
    margin: 0 10px 0px 10px;
    padding-bottom: 8px;
    padding: 0 40px;
}

.blockbuster_deals > div > div > div {
    width: 290px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.blockbuster_deals div button {
    color: white;
    background-color: #cc0c39;
    border: 1px solid #cc0c39;
    border-radius: 2px;
    padding: 5px 8px;
}

.blockbuster_deals > div > div > div > div > div:first-child > span:last-child {
    color: red;
    font-weight: bold;
    padding-left: 5px;
}

.blockbuster_deals > div > div > div > div > div:last-child > span {
    color: black;
}

.minimum_50 {
    height: 260px;
}

.minimum_50 > div > div:last-child {
    width: 100%;
    display: flex;
    height: 190px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
}

.minimum_50 > div > div:last-child > div {
    background-color: white;

}

.minimum_50 > div > div:last-child::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 10px;
    border-radius: 50px;
}

.minimum_50 > div > div:last-child::-webkit-scrollbar-button {
    display: none;
}

.minimum_50 > div > div:last-child::-webkit-scrollbar-thumb {
    background-color: rgb(183, 183, 183);
    border-radius: 50px;
}

.minimum_50 a img {
    height: 170px;
    margin: 0 10px 10px 10px;
}

.flight_tickets {
    margin: 10px;
    padding: 15px 15px 0 15px;
}

.flight_tickets a img {
    width: 100%;
}

.mobile_acc {
    height: 250px;
}

.minimum_classy a img {
    padding: 0 30px;
}

.sixer_img a {
    display: flex;
    justify-content: center;
}

.sixer_img img {
    width: 80%;
}

.amazon_live {
    height: 330px;
}

.amazon_live > div > div:last-child {
    width: 100%;
    display: flex;
    height: 250px;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 5px;
}
.amazon_live > div > div:last-child::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.amazon_live > div > div:last-child::-webkit-scrollbar-button {
    display: none;
}

.amazon_live > div > div:last-child::-webkit-scrollbar-thumb {
    background-color: rgb(183, 183, 183);
    border-radius: 50px;
}

.amazon_live > div > div:last-child > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amazon_live > div > div:last-child > div:first-child > video {
    margin-right: 10px;
    border-radius: 10px;
    width: 350px;
}

@media (max-width: 768px) {
    .amazon_live > div > div:last-child > div:first-child > video {
        width: 240px;
    }
    .mini_slide-live #slideButton-l{
        display: none;
    }
}

.amazon_live > div > div:last-child > div:last-child {
    width: 100%;
    display: flex;
    height: 250px;
}
.amazon_live > div > div:last-child > div:last-child::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.amazon_live > div > div:last-child > div:last-child::-webkit-scrollbar-button {
    display: none;
}

.amazon_live > div > div:last-child > div:last-child::-webkit-scrollbar-thumb {
    background-color: rgb(183, 183, 183);
    border-radius: 50px;
}

@media (min-width: 768px) {
    .amazon_live > div > div:last-child > div:last-child {
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
}

.amazon_live a img {
    height: 100px;
    width: 80px;
    margin: 0 10px 0px 10px;
    padding-bottom: 8px;
    padding: 0 40px;
    margin-right: 60px;
}

.amazon_live > div > div > div > div {
    width: 180px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.amazon_live div button {
    color: white;
    background-color: #cc0c39;
    border: 1px solid #cc0c39;
    border-radius: 2px;
    padding: 0px 8px;
}

.amazon_live > div > div > div > div > div > div:first-child > span:last-child {
    color: red;
    font-weight: bold;
}

.amazon_live > div > div > div > div > div > div:last-child > span {
    color: black;
}

.amazon_live div span {
    padding: 0px 0px 0px 0px;
}

.amazon_live > div > div:last-child > div:last-child > div {
    margin: 15px;
}

.last_main {
    width: 100%;
    background-color: white;
    color: black;
}

.last_main p {
    padding-left: 10px;
}

.last_main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last_main .browser-history a {
    width: 120px;
    height: 86px;
    margin: 10px;
    color: #0066c0;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.browser-history i {
    color: #0066c0;
    padding: 10px;
    margin: 0;
    align-self: flex-start;
}

.browser-history a div {
    line-height: 1em;
}

.last-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: black;
}

.last-sign-in {
    margin: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
}

.last-sign-in p {
    margin: 5px;
}

.last-sign-in button {
    height: 30px;
    width: 100%;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.last-sign-in button:hover {
    background: yellowgreen;
    color: white;
    border: 2px solid grey;
}

.last-sign-in a.seeOffer {
    color: #007185;
}