.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
 
    .carousel-inner {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
 
    .carousel-item {
      min-width: 100%;
      box-sizing: border-box;
 
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
 
    .carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      color: white;
      border: none;
      font-size: 2em;
      cursor: pointer;
      padding: 0 10px;
      z-index: 1;
 
      &.prev {
        left: 10px;
      }
 
      &.next {
        right: 10px;
      }
    }
  }

/* =======================new box csss ======================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    color: black;
}

body {
    font-family: "Poppins", sans-serif;
    
}
h6{
    color: black;
}
p {
   color: black;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 120px;
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
}

.search-button {
    background-color: var(--accent-color);
    /* color: white; */
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    /* margin-top: 80px; */
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translate(-2px);
}

.card-header img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebe8ff;
}

.cart-button {
	position: relative;
	padding: 10px;
	width: 156px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background-color: #4834d4;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
}
.cart-button:hover {
	background-color: #35269b;
}
.cart-button:active {
	transform: scale(.9);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.youtube-link {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #222;
}

#cCarousel {
  border-radius: 6px;
  position: relative;
  max-width: 95%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#cCarousel .arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #00000072;
  cursor: pointer;
}

#cCarousel #prev {
  left: 0px;
}

#cCarousel #next {
  right: 0px;
}

#carousel-vp {
  width: 97%;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-item {
  width: 250px;
  height: 365px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item img {
  width: 100%;
  object-fit: cover;
  min-height: 246px;
  color: white;
}

.cCarousel-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
}

/* .cCarousel-item .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
} */
.carousel-title{
  text-transform: uppercase;
    font: 700 1.7rem / 1 "Open Sans", sans-serif;
    color: #0f0b01;
    padding: 0;
    margin-bottom: 2.2rem;
    letter-spacing: -.01rem;
    padding-left: 76px;
    font-size: 26px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    /* padding-top: 0; */
    margin: 22px 0 35px;
}




.bagde-flag {
	text-transform: capitalize;
    color: #ffffff;
    background: #ecb41c;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    padding: 10px 15px;
	display: block;
  text-decoration: none;
}


/* Badge area 2 style */


.badge-product-sale {
    display: table;
    position: absolute;
    text-align: center;
    top: 38.5px;
    right: 68%;
    z-index: 2;
    min-width: 100px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.badge-product-sale span {
    position: relative;
    background: #bc8246;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    min-width: 50px;
    border-radius: 0;
    min-height: auto;
    border: 0;
    z-index: 999;
}

.badge-product-sale span.percent {
    background: #201f1f;
}

.badge-product-sale span::before {
    border: 5px solid #bc8246;
    border-color: #bc8246 transparent transparent #bc8246;
    border-width: 9px 5px;
    position: absolute;
    right: -9px;
    top: 0;
    content: "";
    z-index: 1;
}

.badge-product-sale span::after {
    border: 5px solid #bc8246;
    border-color: transparent transparent #bc8246 #bc8246;
    border-width: 10px 5px;
    position: absolute;
    right: -9px;
    bottom: 0;
    content: "";
    z-index: 1;
}

.badge-product-sale span.percent::before {
    border: 5px solid #201f1f;
    border-color: #201f1f transparent transparent #201f1f;
    border-width: 9px 5px;
}

.badge-product-sale span.percent::after {
    border: 5px solid #201f1f;
    border-color: transparent transparent #201f1f #201f1f;
    border-width: 10px 5px;
}