<div class="carousel">
  <div class="carousel-inner" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
    <div class="carousel-item" *ngFor="let slide of banners">
      <img [src]="slide.imageUrl" [alt]="slide.alt" />
    </div>
  </div>
  <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
  <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
</div>


<!-- <div class="parent-div" style="width: 100%;  height: auto; background-color: aqua; display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap;">
  <div  *ngFor="let product of products" class="child-div" style="background-color: blueviolet; height: 350px; width: 22%; margin-bottom: 12px; margin-top: 12px;">
      Product Name: <h4>{{product.productName}}</h4>
      
  </div>
</div>  -->


  <div *ngFor="let product of productById"  class="card" style="margin-left: 30px; margin-bottom: 15px;" id="template-news-card">
      <div class="card-header">
          <img [src]="product.imageUrl" alt="sdsd" id="news-img">
      </div>
      <div class="card-content">
          <h3 id="news-title">{{product.productName}}</h3>
          <h6 class="news-source" id="news-source">constGenius 02/02/2024</h6>
          <button type="button" class="btn">Basic</button>
      </div>
  </div>

