<div class="body">
  <div class="order_summary">
    <div class="summary_card">
      <h1>Order Summary</h1>
      <div class="cart_totals">
        <div class="sumrytotal">
          <p>Items:</p>
          <p>{{ totalQuantity }}</p>
        </div>
        <div class="sumrytotal">
          <p>Total:</p>
          <p>Rs. {{ totalCartPrice | number: '1.2-2' }}</p>
        </div>
        <div class="sumrytotal">
          <p>Discount:</p>
          <p>Rs. {{ (totalCartPrice - totalDiscountPrice) | number: '1.2-2' }}</p>
        </div>
        <br>
        <hr>
        <div class="sumrytotal">
          <p>Order Total:</p>
          <p>Rs. {{ totalDiscountPrice | number: '1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="payment-container">
    <form class="payment-form">
      <div class="section">
        <h2>Wallet</h2>
        <label>
          <input
            type="radio"
            name="payment-method"
            value="1"
            [(ngModel)]="selectedPaymentMethod"
            (change)="onPaymentMethodSelect('wallet')"
          />
          Available Balance: <span class="available-credit"> ₹{{ walletBalance | number: '1.2-2' }}</span>
        </label>
      </div>
      <hr />

      <div class="section">
        <h2>Payment Method</h2>
        <label>
          <input
            type="radio"
            name="payment-method"
            value="2"
            [(ngModel)]="selectedPaymentMethod"
            (change)="onPaymentMethodSelect('credit-card')"
          />
          Credit or debit card
          <div class="card-logos">
            <img src="assets/img/visa.png" loading="lazy" alt="Visa" />
            <img src="assets/img/mastercard.png" loading="lazy" alt="MasterCard" />
            <img src="assets/img/Rupay.png" loading="lazy" alt="RuPay" />
          </div>
        </label>
        <br />
        <hr />

        <div class="section">
          <h2>Cash on Delivery/Pay on Delivery</h2>
          <label>
            <input
              type="radio"
              name="payment-method"
              value="3"
              [(ngModel)]="selectedPaymentMethod"
              (change)="onPaymentMethodSelect('cod')"
            />
            Cash on Delivery/Pay on Delivery <br />
          </label>
        </div>
      </div>

      <button type="submit" class="submit-button" [disabled]="isCartEmpty || !selectedPaymentMethod" (click)="confirmCheckout()">
        Use this payment method
      </button>
    </form>
  </div>
</div>
