<body>
  <div id="particles-js" class="snow"></div>

  <main>
    <div class="left-side"></div>

    <div class="right-side">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h2>Create an Account</h2>

        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          placeholder="Name"
          formControlName="name"
          class="form-control"
        />
        <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="error">
          Name is required.
        </div>

        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter Email"
          formControlName="email"
          class="form-control"
        />
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error">
          <div *ngIf="signupForm.get('email')?.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="signupForm.get('email')?.errors?.['email']">
            Please enter a valid email.
          </div>
        </div>

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter Password"
          formControlName="password"
          class="form-control"
        />
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error">
          <div *ngIf="signupForm.get('password')?.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="signupForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
        </div>

        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          class="form-control"
        />
        <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="error">
          <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">
            Confirmation password is required.
          </div>
          <div *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched">
            Passwords do not match.
          </div>
        </div>

        <button type="submit" class="login-btn" [disabled]="signupForm.invalid">Sign Up</button>

        <div class="links">
          <a routerLink="/auth/signin" class="login-link">Already have an account? Sign In</a>
        </div>
      </form>
    </div>
  </main>
</body>
