<body>
  <div id="particles-js" class="snow"></div>

  <main>
    <div class="left-side"></div>

    <div class="right-side">
      <form #signUpForm="ngForm" (ngSubmit)="getUserFormData()">
        <h2>Create an Account</h2>

        <label for="fullName">Full Name</label>
        <input
          type="text"
          id="fullName"
          placeholder="Enter Full Name"
          name="fullName"
          [(ngModel)]="fullName"
          required
        />

        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Enter Email"
          name="email"
          [(ngModel)]="email"
          required
        />

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter Password"
          name="password"
          [(ngModel)]="password"
          required
        />

        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
        />

        <button type="submit" class="login-btn">
          Sign Up
        </button>
        <div class="links">
          <a routerLink="/auth/signin" class="login-link">Already have an account? Sign In</a>
        </div>
      </form>
    </div>
  </main>
</body>
