<div class="container">
  <div *ngFor="let sectionName of objectKeys(homePageSectionProducts)">
    <section class="product-section">
      <h1 class="section-title">{{ sectionName }}</h1>

      <div class="product-grid">
        <!-- Product Cards -->
        <div *ngFor="let product of homePageSectionProducts[sectionName]" class="product-card">
          <article class="card">
            <div class="badge-area-2">
              <div class="badge-product-sale">
                <span class="new">OFFER</span>
                <span class="percent">- {{ product.discountPercentage }} %</span>
              </div>
            </div>
            <img [src]="product.imageUrl" alt="{{ product.productName }}" loading="lazy"
              [routerLink]="['/product', product.productId]" class="card-image" />
            <div class="card-content">
              <h5 class="product-name">{{ product.productName }}</h5>
              <div class="price-info">
                <P>Rs.{{ product.discountPrice }}</P> <del>Rs.{{ product.price }}</del>
              </div>
              <button #cartButton class="cart-button clicked" (click)="addToCart(product.productId, cartButton)">
                <span class="add-to-cart" *ngIf="!isProductAdded(product.productId)">
                  <i class="ri-shopping-cart-2-line"></i> Add to cart</span>
                <span class="added" *ngIf="isProductAdded(product.productId)">Added</span>
              </button>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</div>