<div class="basket" *ngIf="cartItems.length > 0; else emptyCart">
  <header class="basket-labels">
    <ul>
      <p class="item item-heading">Item</p>
      <p class="quantity">Quantity</p>
      <p class="price">Price</p>
      <p class="subtotal">Subtotal</p>
      <p class="quantity">Remove</p>
    </ul>
  </header>

  <!-- Loop through cartItems to display each item -->
  <ng-container *ngFor="let item of cartItems">
    <div class="basket-product">
      <div class="item">
        <div class="product-image">
          <img [src]="item.imageUrl" [alt]="item.productName" class="product-frame" loading="lazy" (click)="goToProductDetails(item.productDtId)">
        </div>
        <div class="product-details" (click)="goToProductDetails(item.productDtId)">
          <h1>
            <strong>
              <span class="item-quantity">{{ item.quantity }}</span> x {{ item.productName }}
            </strong>
          </h1>
          <p><strong>{{ item.productAttributes }}</strong></p>
        </div>
      </div>
      <div class="quantity">
        <button (click)="decrementQuantity(item)" class="quantity-button">-</button>
        <span class="quantity-value">{{ item.quantity }}</span>
        <button (click)="incrementQuantity(item)" class="quantity-button">+</button>
      </div>
      <div class="price">{{ item.discountPrice | currency:'INR' }}</div>
      <div class="subtotal">{{ (item.discountPrice * item.quantity) | currency:'INR' }}</div>
      
      <div class="remove">
        <button (click)="removeCartItem(item.productDtId)" class="remove-button"><i class="fa-solid fa-trash"></i></button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <img src="assets/Shopimg/empty-cart.png" alt="Empty Cart" class="empty-cart-image">
    <h2>Your cart is empty!</h2>
    <button class="checkout-cta empty1" routerLink="/home">Shop Now</button>
  </div>
</ng-template>

<aside class="summary" *ngIf="cartItems.length > 0">
  <h2 class="summary-title">Order Summary</h2>
  <div class="summary-total">
    <div class="total-title">Total</div>
    <div class="total-value final-value" id="basket-total">{{ summary.total | currency:'INR' }}</div>
  </div>
  <div class="summary-subtotal">
    <div class="subtotal-title">Subtotal</div>
    <div class="subtotal-value final-value" id="basket-subtotal">{{ summary.subTotal | currency:'INR' }}</div>
  </div>
  <div class="summary-checkout">
    <button class="checkout-cta" routerLink="/usershop/checkout">Go to Secure Checkout</button>
  </div>
</aside>
