<div class="footer">
    <div class="footer-main footer-main-hidden-one">
        <div class="footer-col">
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Get to Know Us</b></div><br>
                <span>
                    <a href="#">About Us</a><br>
                    <a href="#">Careers</a><br>
                    <a href="#">Press Releases</a><br>
                    <a href="#">WIT Science</a>
                </span>
            </div>
            <div class="footer-col-accs"></div>
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Connect with Us</b></div><br>
                <span>
                    <a href="#">Instagram</a><br>
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a>
                </span>
            </div>
            <div class="footer-col-accs"></div>
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Make Money with Us</b></div><br>
                <span>
                    <a href="#">Sell on WIT</a><br>
                    <a href="#">WIT Accelerator</a><br>
                    <a href="#">Protect Your Brand</a><br>
                    <a href="#">WIT Global Selling</a><br>
                    <a href="#">Affiliate Program</a><br>
                    <a href="#">Fulfilment by WIT</a><br>
                    <a href="#">Advertise Your Products</a><br>
                    <a href="#">WIT Pay on Merchants</a>
                </span>
            </div>
            <div class="footer-col-accs"></div>
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Let Us Help You</b></div><br>
                <span>
                    <a href="#">COVID-19 and WIT</a><br>
                    <a href="#">Returns Centre</a><br>
                    <a href="#">100% Purchase Protection</a><br>
                    <a href="#">Download WIT App</a><br>
                    <a href="#">Help</a>
                </span>
            </div>
        </div>
        <hr class="line">
        <div class="photo-lag">
            <span>
                <img src="assets/Shopimg/wit.png" alt="WIT">
            </span>
        </div>
    </div>
</div>
