<div class="footer">
    <a href="./">
        <div class="back-to-top back-to-topHidden1">Back to top</div>
    </a>
    <a href="./">
        <div class="back-to-top hi back-to-topHidden2">
            <i class="fa-solid fa-caret-up"></i>
            <div>TOP OF PAGE</div>
        </div>
    </a>
    <div class="footer-main footer-main-hidden-one">
        <div class="footer-col">
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Get to Know Us</b></div>
                <span>
                    <a href="#">About Us</a><br>
                    <a href="#">Carees</a><br>
                    <a href="#">Press Releases</a><br>
                    <a href="#">WIT Science</a>
                </span>
            </div>
            <div class="footer-col-accs">&nbsp;</div>
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Connect with Us</b></div>
                <span>
                    <a href="#">LinkedIn </a><br>
                    <a href="#">GitHub </a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a>
                </span>
            </div>
            <div class="footer-col-accs">&nbsp;</div>
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Make Money with Us</b></div>
                <span>
                    <a href="#">Sell on WIT</a><br>
                    <a href="#">Sell under WIT Accelerator</a><br>
                    <a href="#">Protect and Build Your Brand</a><br>
                    <a href="#">WIT Global Selling</a><br>
                    <a href="#">Become an Affiliate</a><br>
                    <a href="#">Fulfilment by WIT</a><br>
                    <a href="#">Advertise Your Products</a><br>
                    <a href="#">WIT Pay on Merchants</a>
                </span>
            </div>
            <div class="footer-col-accs">&nbsp;</div>
            <div class="footer-col-acc">
                <div class="col-acc-head"><b>Let Us Help You</b></div>
                <span>
                    <a href="#">COVID-19 and WIT</a><br>
                    <a href="#">Returns Centre</a><br>
                    <a href="#">100% Purchase Protection</a><br>
                    <a href="#">WIT App Download</a><br>
                    <a href="#">Help</a>
                </span>
            </div>
        </div>
        <hr class="line">
        <div class="photo-lag">
            <span>
                <img src="assets/Shopimg/wit.png" alt="WIT">
                <!-- <i class="fa-solid fa-globe"></i> -->
                <select name="language" id="language">
                    <option value="Eng">&nbsp;&nbsp;English</option>
                    <option value="हिन्दी">&nbsp;&nbsp;हिन्दी</option>
                    <option value="Bengali">&nbsp;&nbsp;বাংলা</option>
                    <option value="Tamil">&nbsp;&nbsp;தமிழ்</option>
                    <option value="Telugu">&nbsp;&nbsp;తెలుగు</option>
                </select>
            </span>

        </div>
        <!-- <div class="country">
            <div class="country-name">
                <a href="#">Australia</a><a href="#">Brazil</a><a href="#">Canada</a><a href="#">China</a><a
                    href="#">France</a><a href="#">Germany</a><a href="#">Italy</a><a href="#">Japan</a><a
                    href="#">Mexico</a><a href="#">Netherlands</a><a href="#">Poland</a><a
                    href="#">Singapore</a><a href="#">Spain</a><a href="#">Turkey</a><a href="#">United Arab
                    Emirates</a><br><a href="#">United Kingdom</a><a href="#">United States</a>
            </div>
        </div> -->
    </div>
    <div class="footer-main-hidden-two">
        <div>
            <ul>
                <li><a href="#">Your WIT.in</a></li>
            </ul>
            <ul>
                <li><a href="#">WIT Pay</a></li>
            </ul>
            <ul>
                <li><a href="#">Wish List</a></li>
            </ul>
            <ul>
                <li><a href="#">Your Account</a></li>
            </ul>
            <ul>
                <li><a href="#">Returns</a></li>
            </ul>
            <ul>
                <li><a href="#">Customer Service</a></li>
            </ul>
        </div>
        <div>
            <div class="col-acc-head" style="padding: 3px 0px 10px 15px;"><b>Connect with Us</b></div>
            
            <ul>
                <li><a href="#"> LinkedIn</a></li>
            </ul>
            <ul>
                <li><a href="#">GitHub</a></li>
            </ul>
            <ul>
                <li><a href="#">Instagram</a></li>
            </ul>
            <ul>
                <li><a href="#">Facebook</a></li>
            </ul>
            <ul>
                <li><a href="#">&nbsp;</a></li>
            </ul>
        </div>
    </div>
   
</div>
