
<body>
  <div id="particles-js" class="snow"></div>

  <main>
    <div class="left-side"></div>

    <div class="right-side">
      <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Enter Email"
          name="email"
          [(ngModel)]="userID"
          required
        />

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter Password"
          name="password"
          [(ngModel)]="password"
          required
        />

        <button type="submit" class="login-btn">
          {{ isSignUp ? 'Sign Up' : 'Sign In' }}
        </button>
        <div class="links">
          <a routerLink="/auth/signup"  (click)="toggleSignUp()">
            {{ isSignUp ? 'Already have an account? Sign In' : 'Don\'t have an account? Sign Up' }}
          </a>
        </div>
      </form>
    </div>
  </main>
</body>
